.container{
    width: 74%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

nav ul {
    list-style-type: none;
    background-color: #4CAF50;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
}

nav ul li {
    float: left;
}

nav ul li a{
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
}

nav ul li a:hover{
    background-color:white;
    color: #4CAF50;
}

.active {
    
    /*whatever you want color*/
}

.brand{
    display: block;
    text-align: center;
    padding: 14px 16px;
    line-height: 1.2em;
    font-size: 
}

#leftAside {
    padding: 5px;
    width: 25%;
}

#mainContent{    
   /* background-color: white; */
    margin-left: 2%;
    padding: 10px;
    width: 69%;
}

footer{
    overflow: hidden;
    margin-top: 10px !important;
    padding-left: 50px;
    background-color: #5D5F60;
}

.panel{
    border:1px solid #CCC;;
    margin-bottom: 20px;
}

.panelTitle{
    font-size:15px;
    text-align: left;
    color:#FFF;
    padding: 6px;
    border-bottom: 1px solid #5D5F60;
}

.welcomeLinear {
    background: -webkit-linear-gradient(#36B0D5, #3073AD,#36B0D5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#36B0D5, #3073AD,#36B0D5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#36B0D5, #3073AD,#36B0D5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#36B0D5, #3073AD,#36B0D5); /* Standard syntax */
}

.quickLinear {
    background: -webkit-linear-gradient(#FBA43B, #FFA200,#FBA43B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FBA43B, #FFA200,#FBA43B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FBA43B, #FFA200,#FBA43B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FBA43B, #FFA200,#FBA43B); /* Standard syntax */   
    font-weight: bold;
    color:white;
}

.loginLinear {
    background-color: #ECCFCF;
    color:#C06342;
    font-weight: bold;
}

.infoLinear{
    background-color: #C8E5BC;
    font-weight: bold;
    color:black;
}

.panelContent{
    padding: 10px;
    background-color: #EDEDED;
}

form input {
    padding: 3px;
    width: 80%;
}

.Contents {
    padding: 5px;
    line-height: 1.2em;
    overflow: hidden;
    background-color:#FFF;
}

.ContentTitle h3 {
    margin-bottom: 0;
    
}

.ContentSubtitle {
    font-style: italic;
    font-size: 14px;
}

.ContentImages {
    width: 100%;
}

.img-thumbnail{
    
    display: inline-block;
    float: left;
    padding: 2px;
    margin-right: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

footer a {
    color:#000;
}

.lists{
    padding: 0 !important;
}

.lists .list-item {
    color: #3C899D;
    display:block;
    padding-top: 10px;
    margin-bottom: 5px;
    background-color: #DFF0D8;
}


.lists .list-item:hover {font-weight: bold;}

#toTop{
    position:fixed;
    top:92%;
    display: block;
    left: 88%;
}
