.container{
    width: 74%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

nav ul {
    list-style-type: none;
    background-color: #4CAF50;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius:5px;
}

nav ul li {
    float: left;
}

nav ul li a{
    color: white;
    display: block;
    padding: 14px 16px;
    text-align: center;
}

nav ul li a:hover{
    background-color:white;
    color: #4CAF50;
}

.active {
    
    /*whatever you want color*/
}

.brand{
    display: block;
    text-align: center;
    padding: 14px 16px;
    line-height: 1.2em;
    font-size: 
}

#leftAside {
    padding: 5px;
    width: 25%;
}

#mainContent{    
    background-color: white;
    margin-left: 2%;
    padding: 10px;
    width: 69%;
}

footer{
    overflow: hidden;
    margin-top: 10px !important;
    padding: 50px;
    background-color: #5D5F60;
}

.panel{
    background-color: white;
    border:1px solid transparent;
    margin-bottom: 20px;

}

.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
